language: python
python:
- 3.5
- 3.8
env:
- TOXENV=django22
- TOXENV=quality
cache:
- pip
before_install:
- pip install pip==20.0.2
install:
- pip install -r requirements/travis.txt
script:
- tox
after_success:
- codecov
deploy:
  provider: pypi
  user: edx
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: 3.5
    condition: $TOXENV = quality
  password:
    secure: UEMC3MgGPfc3AnTDKeOyv3J5NPgRiw6V//Vo6NoyVNlZMk6DsPNyMi2kAjdc58nDPPtqp7wR5TUn0QMVvRBTl6bYZSnpFJfbNLXHPcG9zqEeGwzv45dy2JJgw5myhQ7uCLPKrOBXwI4VrLw8kzNptJIWPFNv7u3K2NOWNHXNpsuAXTieu90/k7nC4Pwd8h9AWTx008meS1rv5BARqVSOTFGNINsMiA8G2j9wOK1+okAkobZqKOsPkXFhbun5+VPcHKwMWgVgs3vi5Ay+B3i1VDqmF+PrAP0mjDzIevn1E9sGR7ueCYVKAH80St3hicNALYBiNMLhXwNf4InGep3CVlKaq5nnWDflFluB7/UeGPTfNPBIlU6wDrc19Q4r024dxquWoEBW7otTIdLMnRMVsvsP3UQnm7mZgfg3D9pBDaoPBDHAWQSHQlaxqxVBnhfJOpsbYD6uuEXlpk+wZvx0DnmTRF4WtW7yJb9+lxvAPR4bzxQh/RXbZvJhXoWY6v2hsp6KpRPVBN4ZJUkCclWAnrh7qut1YRYJGY4jiLCLUOh2OY+o/78IR2daE+WYqWdxisOnmde9WwvjBMBwBN/kZXOThkAZzOB6NnScOyQZE8zqq4A5x8qEV1NX+JJzk6KZLWZozbQaJx9bJ31yrK0hV0aNH0q0LcN2NpJg761KLjM=
